body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    background-color: #3498db;
    color: white;
    padding: 10px 0;
}

@media (max-width: 480px) {

    /* main div 1 */
    .acc-settings__tittle-container {
        width: 96%;
        height: 30px;
        color: white;
        text-indent: 2%;
        background-color: #3498db;
        border-radius: 10px;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .acc-settings__title {
        margin: 0;
        margin-left: 2%;
    }

    /* main div 2 */
    .acc-settings__container {
        width: 100%;
        height: 500px;
        color: white;
        background-color: #3498db;
        font-size: xx-small;
    }

    .acc-settings__container input,
    .acc-settings__container select,
    .acc-settings__container button {
        font-size: xx-small;
    }

    /* submain div 1 */
    .acc-settings__pic-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .acc-settings__pic-circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
        margin: 2%;
        background-image: url('assets/blankProfile.png');
        background-size: cover;
        background-position: center;
    }

    .acc-settings__pic-dropdown-content {
        display: none;
        position: absolute;
        margin-top: 5%;
        background-color: #f9f9f9;
        width: 23%;
    }

    .acc-settings__pic-dropdown-content a {
        display: flex;
        flex-direction: column;
        color: black;
        text-decoration: none;
        padding: 2%;
    }

    .acc-settings__pic-actions {
        display: flex;
        flex-direction: row;
        gap: 10%;
    }

    .acc-settings__pic-actions button {
        width: 80px;
        height: 20px;
        border-radius: 10px;
        border: none;
    }

    /* submain div 2 */
    .acc-settings__info-container {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
    }

    .acc-settings__name-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
    }

    .acc-settings__first-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 3%);
        margin-left: 3%;
    }

    .acc-settings__last-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 3%);
        margin-right: 3%;
    }

    .acc-settings__first-name input,
    .acc-settings__last-name input {
        width: 100%;
        box-sizing: border-box;
    }

    .acc-settings__email-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
    }

    .acc-settings__main-email {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 3%);
        margin-left: 3%;
    }

    .acc-settings__alt-email {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 3%);
        margin-right: 3%;
    }

    .acc-settings__main-email input,
    .acc-settings__alt-email input {
        width: 100%;
        box-sizing: border-box;
    }

    .acc-settings__main-email-elements,
    .acc-settings__alt-email-elements {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .acc-settings__phone-number-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
    }

    .acc-settings__main-phone {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 3%);
        margin-left: 3%;
    }

    .acc-settings__main-phone form,
    .acc-settings__alt-phone form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .acc-settings__main-phone form input,
    .acc-settings__alt-phone form input,
    .acc-settings__main-phone form select,
    .acc-settings__alt-phone form select,
    .acc-settings__main-phone form button,
    .acc-settings__alt-phone form button {
        width: 100%;
        box-sizing: border-box;
    }

    .acc-settings__main-phone form button,
    .acc-settings__alt-phone form button {
        width: 20%;
        display: flex;
        justify-content: center;
    }


    .acc-settings__alt-phone {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 3%);
        margin-right: 3%;
    }

    .acc-settings__gender-birthday-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
    }

    .acc-settings__gender {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 3%);
        margin-left: 3%;
    }

    .acc-settings__gender-elements {
        display: flex;
        flex-direction: row;
    }

    .acc-settings__male-gender-elements {
        display: flex;
        flex-direction: row;
    }

    .acc-settings__female-gender-elements {
        display: flex;
        flex-direction: row;
    }

    .acc-settings__birthday {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 3%);
        margin-right: 3%;
    }

    .acc-settings__gender-elements input {
        transform: scale(0.8);
    }

    .acc-settings__gender-elements label {
        height: 10px;
        padding-top: 10%;
    }

    .acc-settings__address-container {
        display: flex;
        flex-direction: column;
    }

    .acc-settings__home-address {
        display: flex;
        flex-direction: column;
    }

    .acc-settings__work-address label,
    .acc-settings__home-address label {
        margin-left: 3%;
    }

    .acc-settings__work-address input,
    .acc-settings__home-address input {
        width: 94%;
        height: 50px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .acc-settings__work-address {
        display: flex;
        flex-direction: column;
    }

    .acc-settings__btn-container {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        gap: 8%;
    }

    .acc-settings__btn-container button {
        width: 100px;
        height: 20px;
        border-radius: 10px;
        border: none;
    }
}